/* App styling */
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Map styling */

/* ArcGIS mapview will have a non-zero height */


/* Geometry Service Styling */
html, body, #mapDiv {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#info {
  bottom: 20px;
  color: #444;
  height: auto;
  font-family: arial;
  left: 20px;
  margin: 5px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 200px;
  z-index: 40;
}
.label {
  display: inline-block;
  width: 4em;
}

